{% extends 'base.html.twig' %}

{% block title %}Registrar Usuarios{% endblock %}

{% block body %}
 <style>
  .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
  .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
 </style>
 <h1>{{ controller_name }}</h1>
 {% for message in app.flashes('exito') %}
  <div class="alert alert-success">
   {{ message }}
  </div>
 {% endfor %}
 {{ form(formulario) }}


{% endblock %}
