{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IRouter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comentarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('posts') }}">Gestión</a>
                            <a class="dropdown-item" href="#">Listado</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reportes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('posts') }}">Eliminación de comentarios</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success my-2 my-sm-0" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
    <br>
    <div class="container-fluid">
     <h1 style="text-align: center">Bienvenido al reto Telconet !</h1>
        <div class="container">
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <table>
                <tr>
                    {# sorting of properties based on query components #}
                    <th{% if pagination.isSorted('a.Titulo') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'TITULOS DE PUBLICACION', 'a.Titulo') }}
                    </th>
                    <th{% if pagination.isSorted('a.contenido') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'CONTENIDO DE PUBLICACION', 'a.contenido') }}
                    </th>
                    <th{% if pagination.isSorted(['a.fecha_publicacion']) %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'FECHA DE LA PUBLICACION', ['a.fecha_publicacion']) }}
                    </th>
                </tr>

                {# table body #}
                {% for article in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>

                        <td>{{ article.titulo }}</td>
                        <td>{{ article.contenido }}</td>
                        <td>{{ article.fecha_publicacion | date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
{% endblock %}
